@import '../themes/industry-themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-background text-primary antialiased;
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

/* Custom Cursor or other global styles can go here */
.lenis.lenis-smooth {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
